* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 70%;
}
body {
  height: 1000px;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  box-shadow: 0 2px 5px rgba(88, 88, 88, 0.6);
  background-color: #fff;
  z-index: 1;
}

.nav img {
  width: 6rem;
}

.nav .navbar i {
  color: #1a6920;
  font-size: 3rem;
  display: none;
}

.nav .navbar ul {
  display: flex;
}

.nav .navbar ul li {
  margin: 0 1rem;
  list-style: none;
}

.nav .navbar a {
  text-decoration: none;
  color: #404040;
  font-size: 1.4rem;
}

.nav .navbar a:hover {
  color: #32e441;
}

/* Home Section */

.home {
  padding-top: 9rem;
  height: 54rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  width: 40%;
  margin-left: 6rem;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h1 span {
  color: #1b6d22;
  font-weight: 600;
}

.aside h1 {
  line-height: 5rem;
}

.aside p {
  font-size: 1.3rem;
}

.btn {
  padding: 1rem 2rem;
  background-color: #39d847;
  color: #fff;
  border: none;
  border-radius: 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #31c63d;
}

.container img {
  width: 25rem;
}

.container .social {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15rem;
  margin-right: 3rem;
}

.container .social i {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.circle {
  width: 90rem;
  height: 100rem;
  position: absolute;
  background-color: #1a6920;
  border-radius: 50%;
  top: 25%;
  right: -30%;
  z-index: -1;
}

.circle.pink {
  background-color: rgb(222, 55, 194);
}

.circle.red {
  background-color: rgb(164, 12, 131);
}

.thumbnail {
  display: flex;
  position: absolute;
  width: 18rem;
  bottom: 2rem;
  left: 50%;
  align-items: center;
  justify-content: space-between;
  transform: translateX(-50%);
}

.thumbnail img {
  width: 4rem;
  cursor: pointer;
}

.thumbnail img:hover {
  transform: scale(1.2);
}

/* Menu Section */

.menu .menuContainer {
  padding: 2rem;
}
.menu .menuContainer h1 {
  margin: 3rem auto;
  text-align: center;
}

.boxContainer {
  width: 90%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.box {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 0.5rem rgba(88, 88, 88, 0.6);
}

.box img {
  width: 17rem;
}

.box h2 {
  color: #1a6920;
}

.box p {
  font-size: 1.2rem;
}

.box p.harga {
  font-size: 1.4rem;
  font-weight: 600;
}

/* About Section */
.about .aboutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: rgb(248, 250, 215);
}

.aboutContainer img {
  width: 50%;
}

.aboutContainer .aboutSideContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  height: 30rem;
}

.aboutSideContent {
  font-size: 1.4rem;
}

/* Contact Section */
.contact .contactContainer {
  padding: 2rem;
}

.contactContainer h1 {
  text-align: center;
  margin: 2rem auto;
}

.contactContent {
  display: flex;
  align-items: center;
  width: 90%;
  height: 30rem;
  background-color: #2e831d;
  margin: 0 auto;
}

.contactContent .maps {
  width: 50%;
  height: 100%;
  border: none;
}

.contactContent form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 70%;
}

.contactContent form .kotakInput {
  position: relative;
  width: 80%;
  height: 16%;
  background-color: #f7f7f7;
}

.contactContent form .kotakInput input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding-left: 4rem;
  font-size: 1.4rem;
}

.contactContent form .kotakInput i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  font-size: 1.4rem;
  color: #1a6920;
}

/* Footer */
.footer {
  width: 100%;
  height: 5rem;
  background-color: rgb(17, 69, 43);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: #fff;
  font-size: 1.4rem;
}

.footer p span {
  color: rgb(255, 242, 62);
  font-weight: 600;
}

/* Media Query */

@media (min-width: 1500px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 1024px) {
  .circle {
    width: 90rem;
    height: 100rem;
    position: absolute;
    background-color: #1a6920;
    border-radius: 50%;
    top: 25%;
    right: -50%;
    z-index: -1;
  }
  .container .aside {
    margin-left: 2.5rem;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 60%;
  }

  .nav .navbar i {
    display: block;
    cursor: pointer;
  }

  .nav .navbar ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f7f7;
    color: #404040;
    top: -130%;
    left: 0;
    right: 0;
    border-top: 3px solid #1a6920;
  }

  .nav.openNav .navbar ul {
    top: 100%;
    bottom: -500%;
  }

  .nav .navbar a {
    font-size: 2rem;
  }

  .nav .navbar a:hover {
    color: #32e441;
  }
  .home {
    height: 80rem;
    overflow: hidden;
  }

  .container {
    flex-direction: column;
    width: 100%;
  }

  .container .aside {
    width: 90%;
  }

  .container img {
    margin-top: 2rem;
    width: 28rem;
  }

  .circle {
    top: 60%;
    right: 50%;
    transform: translateX(50%);
    z-index: -1;
  }

  .thumbnail {
    width: 16rem;
    bottom: 2rem;
  }

  .thumbnail img {
    width: 4rem;
  }

  .container .social {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #1a6920;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem 2rem;
  }

  .boxContainer {
    width: 100%;
  }

  .box img {
    width: 95%;
  }

  .box h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .box p.harga {
    font-size: 1.8rem;
  }

  .aboutContainer img {
    width: 90%;
  }
  .aboutContainer {
    display: flex;
    flex-direction: column;
  }

  .contactContent {
    display: flex;
    flex-direction: column;
    height: 50rem;
  }

  .contactContent .maps {
    width: 100%;
    height: 50%rem;
  }

  .contactContent form {
    width: 80%;
  }
  .contactContent form .kotakInput {
    width: 100%;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 60%;
  }

  .container img.thumb {
    margin-top: 3rem;
    width: 23rem;
  }
}
